@media (max-width: 1200px) {
    .consultation {
        padding-left: 100px;
    }
    .carousel {
        .prev {
            left: -0px;
        }
        .next {
            right: 0px;
        }
    }
}

@media (max-width: 1100px) {
    .carousel {
        .prev {
            left: 20px;
        }
        .next {
            right: 20px;
        }
    }
}

@media (max-width: 950px) {
    .carousel {
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
        img {
            width: 70%;
        }
    }
}

@media (max-width: 991px) {
    .header {
        justify-content: space-around;
    }
    .promo {
        padding-bottom: 40px;
        min-height: 600px;
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
        h1 {
            font-size: 32px;
        }
        .button_main {
            margin-top: 43px;
            width: 250px;
            font-size: 15px;
        }
    }
    .benefits {
        padding: 50px 0 65px 0;
        &__wrapper {
            justify-content: space-around;
        }
        h2 {
            margin-bottom: 50px;
        }
    }
    .consultation {
        padding: 60px 0 60px 100px;
        min-height: 600px;
        .title {
            font-size: 29px;
            margin-bottom: 37px;
        }
        .feed-form {
            width: 270px;
        }
    }
    .catalog {
        padding: 0 50px 100px 50px;
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        .container {
            max-width: 700px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        min-height: 530px;
        padding-bottom: 25px;
        &__wrapper {
            margin-top: 35px;
        }
        h1 {
            font-size: 27px;
        }
        h2 {
            font-size: 21px;
        }
        &__icons {
            margin-top: 40px;
        }
        .button_main {
            width: 215px;
            font-size: 14px;
        }
    }
    .benefits {
        padding: 35px 0 40px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 10px;
        }
        &__subheader {
            margin-bottom: 10px;
        }
        &__desc {
            margin-bottom: 15px;
        }
        h2 {
            font-size: 26px;
            margin-bottom: 30px;
        }
    }
    .consultation {
        padding: 50px 130px 50px 130px;
        min-height: 550px;
        h2 {
/*             margin: 0 auto;
            width: 500px; */
            text-align: center;
            font-size: 24px;
            margin-bottom: 30px;
        }
        &__descr {
            text-align: center;
            font-size: 17px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
            width: 250px;
        }
    }
    .carousel {
        padding: 40px 0;
    }
    .catalog {
        padding: 0;
        padding-bottom: 45px;
        .title {
            margin-bottom: 40px;
        }
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            font-size: 14px;
            transform: skewX(-18deg);
            margin: 0 3px;
            div {
                position: absolute;
                width: 120%;
                left: -10%;
                transform: skewX(18deg);
            }
        }
        &__content {
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
        }
        &-item {
            min-height: 400px;
            &__img {
                height: 160px;
            }
        }
    }
    .reviews {
        h2 {
            margin-bottom: 45px;
        }
        &__item{
            flex-direction: column;
            align-items: center;
            &:nth-child(3) {
                margin: 40px 0 40px 0;
            }
        }
        &__wrapper {
            align-items: center;
        }
        &__icon {
            margin-right: 0;
            margin-bottom: 20px;
        }
        &__descr {
            max-width: 450px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__logo {
            margin-bottom: 15px;
        }
        &__official {
            font-size: 11px;
            margin-bottom: 15px;
            span {
                font-size: 11px;
            }
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 25px;
        }
        h1 {
            font-size: 23px;
        }
        h2 {
            text-align: center;
            font-size: 17px;
            margin-top: 0;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            width: 100%;
        }
        &__icon {
            margin-bottom: 10px;
        }
        .button_main {
            margin-top: 20px;
        }
    }
    .benefits {
        padding-bottom: 20px;
        .title {
            font-size: 21px;
            margin-bottom: 15px;
        }
    }
    .consultation {
        padding: 40px 30px 40px 30px;
        min-height: 500px;
        .title {
            font-size: 18px;
        }
        &__descr {
            font-size: 15px;
        }
        .feed-form {
            width: 215px;
        }
        .button {
            font-size: 14px;
        }
    }
    .carousel {
        padding: 32px 0;
    }
    .catalog {
        padding-top: 10px;
        .container {
            padding: 0 30px;
        }
        .title {
            font-size: 21px;
            margin-bottom: 20px;
        }
        &__tabs {
            flex-direction: column;
            margin-top: 20px;
        }
        &__tab {
            margin-top: 10px;
        }
        &-item {
            max-width: 100%;
            min-height: 300px;
            &__img {
                height: 120px;
            }
            &__list {
                li {
                    font-size: 12px;
                }
            }
            hr {
                margin: 13px 0 13px 0;
            }
            &__price {
                font-size: 17px;
            }
            &__descr {
                width: 200px;
                margin: 16px auto 0 auto;;
            }
        }
    }
    .button {
        &_mini {
            width: 115px;
        }
    }
    .reviews {
        .container {
            max-width: 270px;
        }
        .title {
            font-size: 21px;
        }
        &__header {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
        }
    }
}